In [25]:
import pandas as pd
import numpy as np

df = pd.read_excel("supermarket_sales.xlsx")

In [26]:
df[2:].reset_index

<bound method DataFrame.reset_index of       Unnamed: 0   Unnamed: 1 Unnamed: 2 Unnamed: 3     Unnamed: 4 Unnamed: 5  \
2            NaN   Invoice ID     Branch       City  Customer_type     Gender
3            NaN  750-67-8428          A     Yangon         Member     Female
4            NaN  226-31-3081          C  Naypyitaw         Normal     Female
5            NaN  631-41-3108          A     Yangon         Normal       Male
6            NaN  123-19-1176          A     Yangon         Member       Male
...          ...          ...        ...        ...            ...        ...
998          NaN  233-67-5758          C  Naypyitaw         Normal       Male
999          NaN  303-96-2227          B   Mandalay         Normal     Female
1000         NaN  727-02-1313          A     Yangon         Member       Male
1001         NaN  347-56-2442          A     Yangon         Normal       Male
1002         NaN  849-09-3807          A     Yangon         Member     Female

                  Unnamed: 6  Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
2               Product_line  Unit price   Quantity     Tax 5%       Total
3          Health and beauty       74.69          7    26.1415    548.9715
4     Electronic accessories       15.28          5       3.82       80.22
5         Home and lifestyle       46.33          7    16.2155    340.5255
6          Health and beauty       58.22          8     23.288     489.048
...                      ...         ...        ...        ...         ...
998        Health and beauty       40.35          1     2.0175     42.3675
999       Home and lifestyle       97.38         10      48.69     1022.49
1000      Food and beverages       31.84          1      1.592      33.432
1001      Home and lifestyle       65.82          1      3.291      69.111
1002     Fashion accessories       88.34          7     30.919     649.299

              Unnamed: 11 Unnamed: 12  Unnamed: 13 Unnamed: 14  \
2                    Date        Time      Payment        cogs
3     2021-01-05 00:00:00    13:08:00      Ewallet      522.83
4     2021-03-08 00:00:00    10:29:00         Cash        76.4
5     2021-03-03 00:00:00    13:23:00  Credit card      324.31
6     2021-01-27 00:00:00    20:33:00      Ewallet      465.76
...                   ...         ...          ...         ...
998   2021-01-29 00:00:00    13:46:00      Ewallet       40.35
999   2021-03-02 00:00:00    17:16:00      Ewallet       973.8
1000  2021-02-09 00:00:00    13:22:00         Cash       31.84
1001  2021-02-22 00:00:00    15:33:00         Cash       65.82
1002  2021-02-18 00:00:00    13:28:00         Cash      618.38

                  Unnamed: 15   Unnamed: 16 Unnamed: 17
2     gross margin percentage  gross income      Rating
3                    4.761905       26.1415         9.1
4                    4.761905          3.82         9.6
5                    4.761905       16.2155         7.4
6                    4.761905        23.288         8.4
...                       ...           ...         ...
998                  4.761905        2.0175         6.2
999                  4.761905         48.69         4.4
1000                 4.761905         1.592         7.7
1001                 4.761905         3.291         4.1
1002                 4.761905        30.919         6.6

[1001 rows x 18 columns]>

In [27]:
newdf =df.fillna(0)

In [28]:
newdf

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0.0,Sales 2021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.0,Invoice ID,Branch,City,Customer_type,Gender,Product_line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,0.0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
4,0.0,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2021-03-08 00:00:00,10:29:00,Cash,76.4,4.761905,3.82,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,0.0,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2021-01-29 00:00:00,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
999,0.0,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2021-03-02 00:00:00,17:16:00,Ewallet,973.8,4.761905,48.69,4.4
1000,0.0,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.592,33.432,2021-02-09 00:00:00,13:22:00,Cash,31.84,4.761905,1.592,7.7
1001,0.0,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.291,69.111,2021-02-22 00:00:00,15:33:00,Cash,65.82,4.761905,3.291,4.1
1002,0.0,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.919,649.299,2021-02-18 00:00:00,13:28:00,Cash,618.38,4.761905,30.919,6.6

In [36]:
newdf.iloc [1:]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.0,Invoice ID,Branch,City,Customer_type,Gender,Product_line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,0.0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
4,0.0,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2021-03-08 00:00:00,10:29:00,Cash,76.4,4.761905,3.82,9.6
5,0.0,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2021-03-03 00:00:00,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,0.0,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2021-01-29 00:00:00,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
999,0.0,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2021-03-02 00:00:00,17:16:00,Ewallet,973.8,4.761905,48.69,4.4
1000,0.0,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.592,33.432,2021-02-09 00:00:00,13:22:00,Cash,31.84,4.761905,1.592,7.7
1001,0.0,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.291,69.111,2021-02-22 00:00:00,15:33:00,Cash,65.82,4.761905,3.291,4.1
1002,0.0,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.919,649.299,2021-02-18 00:00:00,13:28:00,Cash,618.38,4.761905,30.919,6.6

In [31]:
newdf.groupby(by=['Product_line']).sum()

KeyError: 'Product_line'